@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedgwick+Ave+Display&display=swap");

/* font-family: 'Concert One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Sedgwick Ave Display', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --black: #1d242d;
  --grey: #9ba3ab;
  --back: #f3f3f7;
  --proback: #f7f7f7;
  --red: #cc0d00;
  --footer: #eaeef2;
}

/* Default font size for all screen sizes */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

/* Media query for screens with a maximum width of 768px (Mobile devices) */
@media (max-width: 768px) {
  html {
    font-size: 62%; /* 1rem = 8px */
  }
}

/* Media query for screens with a minimum width of 768px and maximum width of 1024px (Tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 75%; /* 1rem = 12px */
  }
}

/* Media query for screens with a minimum width of 1024px (Desktops and larger screens) */
@media (min-width: 1024px) {
  html {
    font-size: 87.5%; /* 1rem = 14px */
  }
}

/* own scrollbar */
html {
  /* scrollbar firefox */
  scrollbar-color: rgb(1, 1, 1) rgb(110, 110, 110);
  scroll-behavior: smooth;
}

/* Note: The -webkit-scrollbar is not supported by Firefox or IE and Edge. */

::-webkit-scrollbar {
  /* width */
  width: 8px;
}

::-webkit-scrollbar-track {
  /* Track */
  box-shadow: inset 0 0 5px grey;
  /* border-radius: 8px; */
}

::-webkit-scrollbar-thumb {
  /* Handle */
  background: rgb(110, 110, 110);
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
  background: rgb(110, 110, 110);
}

::-webkit-scrollbar-track-piece {
  /* not handle on */
  background: var(--main);
}

/* lets start */

/* loader */
.load_box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9000;
}

.loader {
  --path: #2f3545;
  --dot: #5628ee;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
  transform: scale(3);
}
.loader:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  -webkit-animation: dotRect var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}
.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}
.loader svg rect,
.loader svg polygon,
.loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  -webkit-animation: pathTriangle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}
.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  -webkit-animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  -webkit-animation: pathCircle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}
.loader.triangle {
  width: 48px;
}
.loader.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  -webkit-animation: dotTriangle var(--duration)
    cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

@-webkit-keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }
  66% {
    stroke-dashoffset: 147;
  }
  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }
  66% {
    stroke-dashoffset: 147;
  }
  100% {
    stroke-dashoffset: 221;
  }
}
@-webkit-keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }
  66% {
    transform: translate(10px, -18px);
  }
  100% {
    transform: translate(-10px, -18px);
  }
}
@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }
  66% {
    transform: translate(10px, -18px);
  }
  100% {
    transform: translate(-10px, -18px);
  }
}
@-webkit-keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}
@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}
@-webkit-keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(18px, -18px);
  }
  75% {
    transform: translate(0, -36px);
  }
  100% {
    transform: translate(-18px, -18px);
  }
}
@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(18px, -18px);
  }
  75% {
    transform: translate(0, -36px);
  }
  100% {
    transform: translate(-18px, -18px);
  }
}
@-webkit-keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
.loader {
  display: inline-block;
  margin: 0 5rem;
}

/* topHeader */

.topHeader {
  width: 100%;
  padding: 0.7rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

.topHeader div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
}

/* Header */

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 8rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.header__logo {
  /* font-family: "Sedgwick Ave Display", cursive; */
  font-family: "Concert One", cursive;
  font-size: 3rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 40rem;
  /* padding: 0 2rem; */
  min-width: 34rem;
}

.header__menu_ {
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__user {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 30rem;
  min-width: 28rem;
}

.header__search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 18rem;
  min-width: 2rem !important;
  background-color: var(--proback);
  height: 3.5rem;
  font-size: 1.6rem;
  color: #9a9a9a;
  padding: 1rem;
  border: 1px solid var(--grey);
  border-radius: 10px;
}
.header__searchh {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 30rem;
  min-width: 2rem !important;
  background-color: var(--proback);
  height: 6rem;
  font-size: 1.6rem;
  color: #9a9a9a;
  padding: 1rem;
  border: 1px solid var(--grey);
  border-radius: 10px;
}

.header__searchh > :first-child {
  margin-right: 0.8rem;
  width: 7%;
}

.header__searchh > input {
  border: none;
  height: 100%;
  width: 90%;
  background-color: inherit;
  font-size: 1.4rem;
}

.header__search > :first-child {
  margin-right: 0.8rem;
  width: 7%;
}

.header__search > input {
  border: none;
  height: 100%;
  width: 90%;
  background-color: inherit;
  font-size: 1.4rem;
}

.header__ico {
  font-size: 2.7rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__ico > span {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #fff;
  padding: 0.5rem;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.m {
  display: none;
}

.mhead {
  /* border-bottom: 1px solid var(--grey) !important; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  height: 5rem;
}

/* footer */

.footer {
  background-color: var(--footer);
  width: 100%;
  padding: 2rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer_ {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 2rem 0;
  border-bottom: 1px solid var(--grey);
}

.bot_footer {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.footer__tit > :first-child {
  font-family: "Concert One", cursive;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.footer__pay_ {
  width: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  color: rgb(49, 19, 182);
}

/* home */

.home {
  width: 100%;
  padding: 1rem 8rem;
}

.home_carousel {
  z-index: 1;
  width: 100%;
  height: 30rem;
  margin-bottom: 1rem;
}

.home_carousel > div {
  width: 100%;
  height: 100%;
}

.car_img {
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* .home__brands */

.home__brands {
  width: 100%;
  padding: 2rem 0;
  overflow: hidden;
}

.home__brands_tit {
  font-size: 2.5rem;
  font-weight: 600;
}

.home__brands_hold {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.home__brands_hold > * {
  /* width: 100%; */
  /* height: 100%; */
  object-fit: contain;
  margin: 1rem;
}

.home__brands_hold::-webkit-scrollbar {
  display: none;
}

/* home2 */
.home__2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.home__2 > :first-child {
  font-size: 2.5rem;
  font-weight: 600;
  width: 40rem;
}

.home__2 > :nth-child(2) {
  font-size: 1.4rem;
  border-left: 4px solid var(--black);
  padding: 1rem;
  height: 100%;
}

/* home3 */

.home__3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  align-items: center;
  padding: 2rem 0;
}

.home__3_card {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 1rem; */
}

.home__3_ico {
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--proback);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.home__3_card > :nth-child(2) {
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.home__3_card > :nth-child(3) {
  color: #8b8b8b;
}

/* .home__4 */

.home__4 {
  width: 100%;
  padding: 2rem 0;
}

.home__4 > :first-child {
  font-weight: 600;
  font-size: 2.5rem;
}

.home__4_hold {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap !important;
}

.home__4_card {
  width: 20%;
  min-width: 14rem;
  height: 24rem;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.home__4_img {
  width: 100%;
  height: 100%;
  background-color: #cbcbcb;
  border-radius: 15px;
}

.home__4_img > :first-child {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
  border-radius: inherit;
}

.home__4_cta {
  position: absolute;
  bottom: 2rem;
  width: 80%;
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

/* home ad */

.home_ad {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 30rem;
}

.home_ad > :first-child {
  width: 45%;
  height: 100%;
}

.home_ad > :first-child > :first-child {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.home_ad > :last-child {
  width: 55%;
  background-color: var(--black);
  padding: 4rem 4rem;
}

.home_ad > :last-child > :first-child {
  color: #8b8b8b;
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}

.home_ad > :last-child > :nth-child(2) {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.home_ad > :last-child > :nth-child(3) {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: fit-content;
  padding: 1rem 1.2rem;
  font-size: 1.4rem;
  cursor: pointer;
}

/* product home */

.proHold {
  padding: 2rem 0;
  width: 100%;
}

.proHold_tit p {
  font-size: 2.5rem;
  font-weight: 600;
}

.proHold_tit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.proHold_cta {
  display: flex;
  font-size: 2rem;
  color: #8b8b8b;
}

.proHold_cta div {
  padding: 1rem;
  border: 1px solid var(--footer);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.proHold_cta div:hover {
  color: var(--black);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.proHold_ {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 1rem 0;
  overflow-x: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.proHold_::-webkit-scrollbar {
  display: none;
}

.productCard {
  width: 22%;
  height: 28rem;
  cursor: pointer;
  min-width: 22rem;
  margin: 0 1rem;
}

.productCard_img {
  position: relative;
  width: 100%;
  border-radius: 8px;
  height: 75%;
}

.productCard_img_ {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.productCard_img_ > :first-child {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.productCard_sale {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem 0.8rem;
  width: fit-content;
  color: #fff;
  background-color: var(--red);
  border-radius: 6px;
}

.productCard_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.productCard_ > :first-child {
  font-size: 1.8rem;
  font-weight: 500;
}
.productCard_ > :nth-child(2) {
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
}

.productCard_ > :nth-child(2) > div {
  display: flex;
  justify-content: left;
  flex-direction: column;
  font-weight: 300;
  font-size: 1.1rem;
  text-decoration: line-through;
  color: #8b8b8b;
}

.productCard_atc {
  padding: 1rem;
  font-size: 1.7rem;
  width: fit-content;
  border-radius: 5px;
  background-color: var(--black);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.productCard_atc:hover {
  color: var(--red);
}

/* signup */

.signup {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

.signup_c {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--red);
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem;
  background-color: #fff;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.signup_c:hover {
  background-color: var(--red);
  color: #fff;
  cursor: pointer;
}

.signup_img {
  width: 50%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_img > :first-child {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_img > :first-child > :first-child {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.signup_cont {
  width: 50%;
  height: 100%;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_cont > :first-child {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--grey);
  border-radius: 1.8rem;
  padding: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.signup_tit {
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
}

.signup_form {
  width: 100%;
  height: 85%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup_form > form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.signup_form_t {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup_form_t > * {
  width: 48%;
  height: 4rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

.signup_form_t > * > :first-child {
  height: inherit;
  width: 100%;
  border: none;
  font-size: 1.4rem;
}

.signup_form_y {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  font-size: 1.4rem;
  height: 4rem;
}

.signup_form_y > :first-child {
  height: inherit;
  padding: 1rem 1.5rem;
  border: none;
  width: 100%;
  font-size: inherit;
}

.signup_cta {
  padding: 1rem 2rem;
  font-size: 1.8rem;
  background-color: var(--red);
  border-radius: 0.6rem;
  color: #fff;
  border: none;
  cursor: pointer;
  width: fit-content;
  min-width: fit-content;
}

.gj {
  background-color: #fff;
  color: var(--red);
  border: 1px solid var(--red);
}

.signup_but {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .shop */

.shop {
  width: 100%;
  padding: 1rem 8rem;
  display: flex;
  justify-content: space-between;
}

.shop_ {
  width: 28%;
}

.shop__ {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shop_hold {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
}

.shop_cate {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--grey);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.shop_mob {
  display: none;
}

.shop_cate_shop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.shop_cate_ {
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
}

.shop_cate_ > p {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.shop_cate_ > p:hover {
  color: var(--red);
}

.shop_filter_price {
  width: 100%;
  font-size: 1.3rem;
  margin: 1rem 0;
}

/* search */
.search {
  width: 100%;
  height: 57rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_product_holder {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s_h {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
}

/* productDeatil */

.productDetail {
  width: 100%;
  padding: 1rem 8rem;
}

.breadCrumb {
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.breadCrumb > p {
  width: fit-content;
  min-width: fit-content;
}

.productDetail_ {
  width: 100%;
  display: flex;
}

.productDetail_img {
  width: 50%;
  padding: 1rem;
}

.productDetail_c {
  width: 50%;
  padding: 1rem;
}

.productDetail_img_main {
  width: 100%;
  background-color: var(--proback);
  border: 1px solid var(--proback);
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
}

.productDetail_img_main > :first-child {
  border: inherit;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: inherit;
}

.productDetail_img_sec {
  width: 100%;
  display: flex;
  align-items: center;
}

.productDetail_img_sec_ {
  width: 24.5%;
  background-color: var(--proback);
  border: 1px solid var(--proback);
  border-radius: 1rem;
  margin: 1rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productDetail_img_sec_ > :first-child {
  border: inherit;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: inherit;
}

.productDetail_name {
  font-size: 4rem;
  font-weight: 600;
}

.productDetail_sdesc {
  font-size: 1.7rem;
  font-weight: 400;
  color: #8b8b8b;
}

.productDetail_rating {
  display: flex;
  align-items: center;
}

.productDetail_rating {
  font-size: 1.4rem;
}

.productDetail_price {
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem 0;
  height: inherit;
}

.productDetail_price > p > span {
  font-size: 1.3rem;
  color: #8b8b8b;
  text-decoration: line-through;
}

.productDetail2 {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productDetail_sz {
  font-size: 2rem;
  color: var(--lg-font);
  width: fit-content;
  font-weight: 500;
  width: fit-content;
}

.productDetail_szhold {
  width: 100%;
  display: flex;
  align-items: center;
}

.productDetail_size {
  width: 100%;
  display: flex;
  align-items: center;
}

.productDetail_color {
  width: 5rem;
  background-color: #fff;
  border: 1px solid var(--grey);
  color: #fff;
  border-radius: 50%;
  height: 5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.productDetail_color > div {
  color: #fff;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.activeColor {
  padding: 0.5rem;
  border: 1px solid var(--black);
}

.activeColor > div {
  padding: 2rem;
}

.productDetail_szx {
  width: 5rem;
  color: var(--black);
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.4rem;
  height: 5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  border: 1px solid var(--black);
}

.activeSize {
  width: 5rem;

  padding: 1rem;
  background-color: var(--black);
  color: #fff;
  border-radius: 0.4rem;
  height: 5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.productDetail3 {
  padding: 2rem 0;
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
}

.productDetail_bts {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.productDetail_counter {
  width: 13rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--grey);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  margin-right: 2rem;
  user-select: none;
}

.productDetail_counter > * {
  cursor: pointer;
}

.productDetail_counter > :nth-child(2) {
  cursor: auto;
}

.productDetail_atc {
  width: 15rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--grey);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-right: 2rem;
  background-color: var(--black);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  user-select: none;
}

.productDetail_atc:hover {
  color: var(--red);
}

/* cart */

.cart {
  padding: 1rem 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cart_ {
  width: 65%;
  padding: 1rem;
}

.cart_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.cart_top > div {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}

.cart_top > div:hover {
  text-decoration: underline;
  color: var(--red);
  cursor: pointer;
}

.cart__ {
  width: 30%;
  border: 1px solid var(--grey);
  border-radius: 0.5rem;
  padding: 1.5rem;
  height: fit-content;
}

.cart_table {
  width: 100%;
  border-collapse: collapse;
}

.cart_table td,
.cart_table th {
  /* border: 1px solid #ddd; */
  padding: 0.8rem;
}

.cart_table tr {
  border-bottom: 1px solid var(--grey);
}

.cart_table th {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-size: 2.1rem;
  border-bottom: 1px solid var(--grey);
  /* color: var(--lg-font); */
  font-weight: 500;
}

.cart_table_product {
  width: 100%;
  display: flex;
}

.cart_table_product_img {
  width: 7rem;
  height: 9rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.cart_table_product_img > :first-child {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.cart_table_product_info {
  width: 100%;
}

.cart_table_product_info > :first-child {
  font-size: 2rem;
  font-weight: 600;
}

.cart_table_product_var {
  display: flex;
  align-items: center;
}

.cart_fart {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart_item_remove {
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
}

.cart_item_remove:hover {
  color: var(--red);
  cursor: pointer;
}
.cart_p {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}

.cart_p > span {
  font-size: 1rem;
  text-decoration: line-through;
  color: var(--lg-font);
}

.cart_em {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__subtotal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-size: 600;
}

.cart__subtotal > :nth-child(1) {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--lg-font);
}

.cart__gTot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-size: 600;
  margin: 1rem 0;
  margin-top: 2rem;
}

.cart__cta {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 1rem;
  color: #fff;
  background-color: var(--black);
  font-weight: 600;
  border-radius: 0.5rem;
  user-select: none;
}

.cart__cta:hover {
  color: var(--red);
  cursor: pointer;
}

/* Checkout */

.checkout_ltr {
  width: 65%;
  border: 1px solid var(--footer);
  border-radius: 0.8rem;
  padding: 1.5rem;
  height: 100%;
}

.checkout_shipping > :first-child {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.checkout_ {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout__int {
  width: 48%;
  margin-bottom: 1.5rem;
}

.hk {
  width: 100%;
}
.checkout_shipping {
  width: 100%;
  margin-bottom: 2rem;
}

.checkout__int > :first-child {
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
}

.checkout__int > input {
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  border: 1px solid var(--footer);
  border-radius: 0.5rem;
  background-color: var(--proback);
}

.checkout_method {
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid var(--footer);
  border-radius: 0.8rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activem {
  border: 1px solid var(--grey);
}

.checkout_method > :last-child {
  font-size: 1.4rem;
}

.checkout_method_ {
  display: flex;
  align-items: center;
}

.met_ {
  font-size: 1.5rem;
  font-weight: 500;
}

.met_ > :last-child {
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--lg-font);
}

.checkout_rtr {
  width: 33%;
  border: 1px solid var(--footer);
  border-radius: 0.8rem;
  padding: 1.5rem;
  height: 100%;
  min-height: 45rem;
}

.checkout_rtr > :first-child {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.checkout_prod {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.checkout_prod_ {
  display: flex;
  align-items: center;
}

.checkout_prod_img {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
  background-color: var(--back);
  margin-right: 1rem;
}

.checkout_prod_img > :first-child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: inherit;
  background-color: inherit;
}

.checkout_prod_info > :first-child {
  font-size: 1.8rem;
  font-weight: 500;
}

.checkout_prod_info > div {
  display: flex;
  align-items: center;
}

.checkout_prod_info > div > :first-child {
  margin-right: 1rem;
  text-transform: uppercase;
}

.checkout_prod__ {
  font-size: 1.4rem;
  font-weight: 500;
}

.checkout_dis {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.checkout_dis > input {
  width: 75%;
  padding: 1rem 1.5rem;
  border: 1px solid var(--footer);
  font-size: 1.2rem;
  border-radius: 0.3rem;
}

.checkout_dis > *:focus {
  border-color: var(--grey);
}

.checkout_dis > div {
  width: 22%;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border: 1px solid var(--footer);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  transition: 0.5s ease-in-out;
}

.checkout_dis > div:hover {
  cursor: pointer;
  border-color: var(--grey);
}

/* Account */

.account__protop {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--footer);
}

.account__protop > :first-child {
  height: 12rem;
  width: 100%;
  border-radius: 1rem;
  position: relative;
}

.account__protop > :first-child > :first-child {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.account__protop > :first-child > :last-child {
  height: 10rem;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  left: 3rem;
  width: 10rem;
}

.account__protop > :first-child > :last-child > p {
  width: 93%;
  height: 93%;
  background-color: #fff;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 600;
}

.account__protop > :last-child {
  padding: 1rem 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account__protop > :last-child > :first-child > :first-child {
  font-size: 2.5rem;
}

.account__protop > :last-child > :first-child > :last-child {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: var(--lg-font);
}

.account__protop > :last-child > :first-child > :last-child > :first-child {
  margin-right: 0.2rem;
  font-size: 1.8rem;
}

.account__protop > :last-child > :last-child {
  width: 4rem;
  height: 5rem;
  border: 1px solid var(--footer);
  border-radius: 0.6rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.account_act {
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
  /* padding: 1rem; */
  border: 1px solid var(--footer);
  border-radius: 0.5rem;
}

.account_act::-webkit-scrollbar {
  display: none;
}

.account_act > * {
  padding: 0.9rem;
  margin: 0.4rem 0.7rem;
  font-size: 1.3rem;
  /* background-color: var(--grey); */
  border-radius: 0.4rem;
}

.account_act > * > p {
  width: fit-content;
  min-width: max-content;
}

.acco {
  background-color: var(--footer);
  font-weight: 500;
}

.account_cont {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--footer);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.account__cont {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--footer);
  border-radius: 0.5rem;
}

.account_cont > * {
  width: fit-content;
  padding: 1rem 1.5rem;
  background-color: var(--black);
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  margin: 1rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.account_cont > *:hover {
  color: var(--red);
}

.ghy {
  background-color: var(--red);
}

.ghy:hover {
  color: var(--black);
}

.og {
  overflow-x: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--footer);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.og::-webkit-scrollbar {
  display: none;
}

.ogf {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--footer);
}

.ogf > * {
  width: 25%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ghu > * {
  width: 16.6666%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.og > :first-child {
  background-color: var(--black);
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 0.1rem;
}

.og > :nth-child(even) {
  background-color: var(--footer);
  border-radius: 0.5rem;
}

.account__cont > :first-child {
  margin-bottom: 1rem;
}

.account__prod {
  width: 100%;
  padding: 0.2rem;
  margin-bottom: 1rem;
}

.account__prod > :first-child {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 1350px) {
  .header {
    padding: 2rem 4rem;
  }
  .home {
    padding: 1rem 4rem;
  }
  .cart {
    padding: 1rem 4rem;
  }
  .productDetail {
    padding: 1rem 4rem;
  }
  .footer {
    padding: 2rem 4rem;
  }
  .shop {
    padding: 1rem 4rem;
  }
}

@media (min-width: 1020px) and (max-width: 1185px) {
  .header {
    padding: 2rem 3rem;
  }
  .home {
    padding: 1rem 3rem;
  }
  .cart {
    padding: 1rem 3rem;
  }
  .productDetail {
    padding: 1rem 3rem;
  }
  .shop {
    padding: 1rem 3rem;
  }
  .footer {
    padding: 2rem 3rem;
  }
  .header__menu {
    display: none;
  }
  .header__search {
    display: none;
  }
  .m {
    display: flex;
  }

  .header__user {
    max-width: 15rem;
    min-width: 8rem;
    align-items: center;
  }
}

@media (max-width: 690px) {
  .account__protop > :first-child > :last-child {
    left: 1.3rem;
  }
  .cart {
    flex-direction: column;
  }
  .cart_ {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
  }
  .cart_::-webkit-scrollbar {
    display: none;
  }

  .cart__ {
    width: 100%;
  }
  .checkout_ltr {
    width: 100%;
  }
  .checkout_rtr {
    width: 100%;
    margin-bottom: 2rem;
  }

  .ggth {
    width: 8rem;
  }
  .productDetail_ {
    flex-direction: column;
  }
  .productDetail_rating {
    align-items: center;
  }
  .productDetail_img {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    height: 30rem;
  }
  .productDetail_img_main {
    width: 70%;
    height: 30rem;
  }
  .productDetail_img_sec {
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    margin-right: 1rem;
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
  }
  .productDetail_img_sec::-webkit-scrollbar {
    display: none;
  }
  .productDetail3 {
    width: 100%;
  }
  .productDetail_bts {
    justify-content: space-between;
    width: 100%;
  }
  .productDetail_atc {
    min-width: fit-content;
  }
  .productDetail_img_sec_ {
    width: 100%;
  }
  .productDetail_c {
    width: 100%;
  }
  .productDetail2 {
    flex-direction: column;
    align-items: flex-start;
  }

  .header {
    padding: 1.5rem 2.3rem;
  }
  .cart {
    padding: 1.5rem 2.3rem;
  }
  .productDetail {
    padding: 1.5rem 2.3rem;
  }
  .breadCrumb {
    text-align: center;
  }
  .shop_mob {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 1rem;
  }
  .shop_hold {
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  .mob_filt {
    width: fit-content;
    padding: 1rem 2rem;
    border: 1px solid var(--grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .productCard {
    min-width: 30rem;
    height: 32rem;
  }
  .shop__ {
    justify-content: center;
    width: 100%;
  }
  .shop_ {
    display: none;
  }
  .home {
    padding: 1rem 2.3rem;
  }
  .shop {
    padding: 1rem 2.3rem;
    flex-direction: column;
  }
  .footer {
    padding: 2rem 2.3rem;
  }
  .footer_ {
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
  }
  .home__brands_hold > * {
    width: 4rem;
  }
  .home__brands {
    padding: 1rem 0;
  }

  .home__4_card {
    min-width: 13.6rem;
    height: 20rem;
  }

  .signup_but {
    width: 90%;
  }

  .signup_img {
    display: none;
  }

  .signup_cont {
    width: 100%;
  }

  .home_ad {
    height: 15rem;
  }
  .home_ad > :last-child {
    width: 65%;
    padding: 1rem;
  }

  .home_ad > :last-child > :first-child {
    margin-bottom: 0.2rem;
    font-size: 1rem;
  }

  .home_ad > :last-child > :nth-child(2) {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .home_ad > :last-child > :last-child {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .home_ad > :first-child {
    width: 35%;
  }

  .home__brands_tit {
    margin-bottom: 0;
  }

  .home__3 {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .home__3_card {
    min-width: 15rem;
  }

  .home__2 {
    flex-direction: column;
    padding: 0.2rem 0;
    margin-top: -0.8rem;
  }

  .home__2 > :first-child {
    width: 100%;
    font-size: 2.6rem;
  }

  .home__brands_hold {
    justify-content: space-between;
  }

  .footer__tit {
    height: 7rem;
    flex-grow: 1;
  }
  .footer__tit > :first-child {
    margin-bottom: 1rem;
  }
  .footer__cont {
    margin-bottom: 1rem;
  }
  .header__menu {
    display: none;
  }
  .header__search {
    display: none;
  }
  .m {
    display: flex;
  }

  .header__user {
    max-width: 9rem;
    min-width: 8rem;
    align-items: center;
  }
  .header__user > :nth-child(3) {
    display: none;
  }

  .home_carousel {
    height: 12rem;
  }

  .mhead {
    height: 6rem;
  }
}

.botNav {
  display: none;
  transition: 0.5s ease-in-out;
}

.boNav_:hover {
  color: var(--red);
  transition: 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .botNav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 6rem;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    font-size: 2.6rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    padding: 0.3rem;
  }
}
